.logo img{
    height:50px;
    width:100px;
    border-radius: 30px;
    margin: 20px 0px 0px 10px;
}

.container{
    display: flex;
}

.Heading{
    display: flex;
    margin:0px 0px 0px 100px;
}

.element{
    display: flex;
    margin-left: 300px;
    
}

.element ul , li{
    display: flex;
    gap:40px;
}

.prov{
    margin:-30px 0px 0px 260px;
    opacity:.3;
}

.img{
    width: 1400;
    height: 820px;
    margin-top: -100px;
}

.Introduction{
    color: rgb(159, 97, 16);
    margin: 0px 0px 0px 5px;
}

body{
    background-color: #c4bcbc;
}

/* .form{
    align-items: center;
    margin-left: 680px;
} */
 .complain {
    align-items: center;
    margin-left: 640px;
}

html{
    scroll-behavior: smooth;
}

.form input{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 30px;
}

#complain{
    height: 50px;
    width:370px;
}

button{
    color: rgb(255, 254, 254);
    background-color: black;
    padding: 5px 20px 5px 20px;
    margin-left: 5px;
}


footer{
    background: #3e00fa94;
    margin-top: 10px;
}

.footer-content{
    display: flex;
    /* align-items: center; */
    margin: 05px 0px 05px 600px;
}

.contact ,h22 {
    display: flex;
    font-size: 30px;
    text-decoration: dotted white;
    margin-left: 600px;

}

.help {
    display: flex;
    text-decoration: dotted white;
    margin-left: 600px;
    
}

.img11{
    width: 20px;
    height: 20px;
}

.img12{
    width: 20px;
    height: 20px;
    padding: 2px 4px 4px 3px ;
}

